<div class="container">
  <%= form_with model: @form, url: '/try', class: 'marketing-form' do |f| %>

    <% if @form.errors.any? %>
      Validation Errors:
      <ul>
        <% @form.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <fieldset>
      <legend>About Your Company</legend>
      <div class="form-group">
        <%= f.label :company_name, 'Name' %>
        <%= f.text_field :company_name, id: :registration_company_name, require: true, class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset>
      <legend>About You</legend>
      <div class="form-group">
        <%= f.label :user_email, 'Your Email Address' %>
        <%= f.email_field :user_email, id: :registration_user_email, require: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :user_password, 'Password' %>
        <%= f.password_field :user_password, id: :registration_user_password, require: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :user_password_confirmation, 'Confirm Password' %>
        <%= f.password_field :user_password_confirmation, id: :registration_user_password_confirmation, require: true, class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset>
      <legend>Select Plan</legend>
      <div class="row">
        <script>
         function selectPlan(id) {
           $('#registration_plan_id').val(id);
           $('.marketing-plan').removeClass('marketing-plan--selected');
           $(`#plan-${id}`).addClass('marketing-plan--selected');
         }
        </script>
        <%= f.hidden_field :plan_id, id: :registration_plan_id %>
        <% @form.plans.each do |plan| %>
          <div class="col">
            <%= render "plan", plan: plan, f: f %>
          </div>
        <% end %>
      </div>
    </fieldset>

    <%= f.submit 'Sign Up', class: 'btn btn-primary btn-block' %>
  <% end %>
</div>
