// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.marketing-form {

  fieldset {
    border-bottom: 1px solid rgba(0, 0, 0, 0.14902);
    &:last-child {
      background: red;
    }
  }

}
.marketing-plan {
  padding: 5px;
  border: 1px solid white;
}

.marketing-plan--selected {
  border: 1px solid black;
  border-radius: 4px;
}